#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#imgeInfo{
  width: 600px;
}
#appDiv{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: rgb(192, 228, 228);
  width: 1000px;
}
